= form_for @nasabah do |f|
	- if @nasabah.errors.any?
		#error_explanation
			%h2= "#{pluralize(@nasabah.errors.count, "error")} prohibited this nasabah from being saved:"
			%ul
				- @nasabah.errors.full_messages.each do |msg|
					%li= msg
					
	.form-horizontal
		%h4.no-bold Pilih Product
		%hr.top-off
		.control-group
			=f.label :product_id, :class => 'control-label'
			.controls
				=f.select :product_id, ['', '']+Product.collection_selects,{} , :class => '', 'data-placeholder' => 'Choose one'
		
		%hr.top-off
		%h4.no-bold Data Pribadi
		%hr.top-off

		.control-group
			=f.label :nama_lengkap, :class => 'control-label'
			.controls
				=f.text_field :nama_lengkap, :class => 'span8'

		.control-group
			=f.label :status_pernikahan, :class => 'control-label'
			.controls
				.form-inline
					-for gender in ['sudah_nikah', 'belum_menikah']
						%label.radio{:style => 'margin-right: 10px;'}
							=f.radio_button :status_pernikahan, gender
							=gender.titleize


		.control-group
			=f.label :tanggal_lahir, :class => 'control-label'
			.controls
				#nasabah-tgl-lahir.input-append
					=f.text_field :tanggal_lahir, :data => {:format => 'yyyy-MM-dd'}
					%span.add-on
						%i.icon.icon-calendar
				=content_for(:bottom_js) do 
					:javascript						
						$(function() {
							$('#nasabah-tgl-lahir').datetimepicker({
								pickTime: false
							});
						})
		.control-group
			=f.label :jenis_kelamin, :class => 'control-label'
			.controls
				.form-inline
					-for gender in Nasabah::GENDERS
						%label.radio{:style => 'margin-right: 10px;'}
							=f.radio_button :jenis_kelamin, gender
							=gender.titleize

		.control-group
			=f.label :kewarganegaraan, :class => 'control-label'
			.controls
				=f.select :kewarganegaraan, ['', '']+Nasabah::NATIONALITIES.map{|i|[i.titleize, i]},{} , :class => 'chzn-select', 'data-placeholder' => 'Choose one'

		.control-group
			=f.label :no_identitas, :class => 'control-label'
			.controls
				=f.text_field :no_identitas, :class => 'span8'

		.control-group
			=f.label :type_identitas, :class => 'control-label'
			.controls
				.form-inline
					-for gender in Nasabah::ID_TYPES
						%label.radio{:style => 'margin-right: 10px;'}
							=f.radio_button :type_identitas, gender
							=gender.upcase
		.control-group
			=f.label :expire_identitas, :class => 'control-label'
			.controls
				#nasabah-expire_identitas.input-append
					=f.text_field :expire_identitas, :data => {:format => 'yyyy-MM-dd'}
					%span.add-on
						%i.icon.icon-calendar
				=content_for(:bottom_js) do 
					:javascript						
						$(function() {
							$('#nasabah-expire_identitas').datetimepicker({
								pickTime: false
							});
						})				
		.control-group
			=f.label :alamat_rumah, :class => 'control-label'
			.controls
				=f.text_field :alamat_rumah, :class => 'span8'

		.control-group
			=f.label :alamat_surat, :class => 'control-label'
			.controls
				=f.text_field :alamat_surat, :class => 'span8'
		.control-group
			=f.label :email, :class => 'control-label'
			.controls
				=f.text_field :email, :class => 'span8'

		.control-group
			=f.label :no_ponsel, :class => 'control-label'
			.controls
				=f.text_field :no_ponsel, :class => 'span8'


		%hr.bottom-off
		%h4.no-bold Data Pekerjaan
		%hr.top-off
		.control-group
			=f.label :pekerjaan_utama, :class => 'control-label'
			.controls
				=f.text_field :pekerjaan_utama, :class => 'span8'

		.control-group
			=f.label :pendapatan_bulanan, :class => 'control-label'
			.controls
				=f.text_field :pendapatan_bulanan, :class => 'span8'

		.control-group
			=f.label :bidang_usaha, :class => 'control-label'
			.controls
				=f.text_field :bidang_usaha, :class => 'span8'

		.control-group
			=f.label :no_tlp_kantor, :class => 'control-label'
			.controls
				=f.text_field :no_tlp_kantor, :class => 'span8'

		.control-group
			=f.label :no_npwp, :class => 'control-label'
			.controls
				=f.text_field :no_npwp, :class => 'span8'

		.control-group
			=f.label :no_faximile, :class => 'control-label'
			.controls
				=f.text_field :no_faximile, :class => 'span8'

		%hr.bottom-off
		%h4.no-bold Data Pelengkap
		%hr.top-off

		.control-group
			=f.label :rekening_koran_gabungan, :class => 'control-label'
			.controls
				=f.text_field :rekening_koran_gabungan, :class => 'span8'

		.control-group
			=f.label :status_rumah_tinggal, :class => 'control-label'
			.controls
				=f.text_field :status_rumah_tinggal, :class => 'span8'

		.control-group
			=f.label :tanggal_rumah_tinggal, :class => 'control-label'
			.controls
				=f.text_field :tanggal_rumah_tinggal, :class => 'span8'

		.control-group
			=f.label :no_tlp_rumah, :class => 'control-label'
			.controls
				=f.text_field :no_tlp_rumah, :class => 'span8'

		.control-group
			=f.label :sumber_dana, :class => 'control-label'
			.controls
				=f.text_field :sumber_dana, :class => 'span8'

		.control-group
			=f.label :tujuan_penggunaan_dana, :class => 'control-label'
			.controls
				=f.text_field :tujuan_penggunaan_dana, :class => 'span8'

		.control-group
			=f.label :tujuan_penggunaan_rekening, :class => 'control-label'
			.controls
				=f.text_field :tujuan_penggunaan_rekening, :class => 'span8'

		.control-group
			=f.label :nama_ibu_kandung, :class => 'control-label'
			.controls
				=f.text_field :nama_ibu_kandung, :class => 'span8'

		.control-group
			=f.label :agama, :class => 'control-label'
			.controls
				=f.select :agama, ['', '']+Nasabah::RELIGIONS.map{|i|[i.titleize, i]},{} , :class => 'chzn-select', 'data-placeholder' => 'Choose one'



		.form-actions
			= f.submit 'Save', :class => 'btn'
