%h1 Listing nasabahs

%table
  %tr
    %th Nama lengkap
    %th Tempat lahir
    %th Tanggal lahir
    %th Jenis kelamin
    %th Kewarganegaraan
    %th No identitas
    %th Type identitas
    %th Expire identitas
    %th No npwp
    %th Alamat rumah
    %th Alamat surat
    %th No tlp kantor
    %th No ponsel
    %th No faximile
    %th Email
    %th Rekening koran gabungan
    %th Status pernikahan
    %th Status rumah tinggal
    %th Tanggal rumah tinggal
    %th No tlp rumah
    %th Pekerjaan utama
    %th Pendapatan bulanan
    %th Bidang usaha
    %th Sumber dana
    %th Tujuan penggunaan dana
    %th Tujuan penggunaan rekening
    %th Setoran awal
    %th Nama ibu kandung
    %th Agama
    %th
    %th
    %th

  - @nasabahs.each do |nasabah|
    %tr
      %td= nasabah.nama_lengkap
      %td= nasabah.tempat_lahir
      %td= nasabah.tanggal_lahir
      %td= nasabah.jenis_kelamin
      %td= nasabah.kewarganegaraan
      %td= nasabah.no_identitas
      %td= nasabah.type_identitas
      %td= nasabah.expire_identitas
      %td= nasabah.no_npwp
      %td= nasabah.alamat_rumah
      %td= nasabah.alamat_surat
      %td= nasabah.no_tlp_kantor
      %td= nasabah.no_ponsel
      %td= nasabah.no_faximile
      %td= nasabah.email
      %td= nasabah.rekening_koran_gabungan
      %td= nasabah.status_pernikahan
      %td= nasabah.status_rumah_tinggal
      %td= nasabah.tanggal_rumah_tinggal
      %td= nasabah.no_tlp_rumah
      %td= nasabah.pekerjaan_utama
      %td= nasabah.pendapatan_bulanan
      %td= nasabah.bidang_usaha
      %td= nasabah.sumber_dana
      %td= nasabah.tujuan_penggunaan_dana
      %td= nasabah.tujuan_penggunaan_rekening
      %td= nasabah.setoran_awal
      %td= nasabah.nama_ibu_kandung
      %td= nasabah.agama
      %td= link_to 'Show', nasabah
      %td= link_to 'Edit', edit_nasabah_path(nasabah)
      %td= link_to 'Destroy', nasabah, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Nasabah', new_nasabah_path
