.component-heading
	.row-fluid
		.span8
			%h3.no-bold
				%i.icon.icon-group
				Data Nasabah
		.span4
			.pull-right
				.btn-group
					=link_to '<i class="icon icon-plus-sign"></i> Nasabah Baru'.html_safe, new_nasabah_path, :class => 'btn-mini btn btn-primary'
					= link_to '<i class="icon icon-download"></i> Download Excel'.html_safe, url_for(params.merge(:format => :csv)), :class => 'btn btn-mini'
					= link_to '<i class="icon icon-print"></i> Print'.html_safe, '#', :class => 'btn btn-mini', :onclick=> "window.print()"


=render 'filter'
%table.table.table-condensed.table-stripped
	%tr
		%th Nama
		%th No. Rek
		%th Product
		%th Saldo
		%th
			.center-text Product Completeness
		%th.dont-print
			.center-text Action

	- @nasabahs.each do |nasabah|

		%tr
			%td=link_to nasabah.nama_lengkap, nasabah
			%td=nasabah.account_number
			%td=nasabah.product.name_version
			%td=money_formater nasabah.saldo
			%td.dont-print
				.center-text
					.btn-group
						%span.btn.btn-mini.btn-success.disabled="#{nasabah.completeness_product[:percent]} %"
						%span.btn.btn-mini.btn-info.disabled="#{nasabah.completeness_product[:left]} left"					
			%td
				.btn-toolbar{:style => 'margin: 0px;'}
					.btn-group
						-if can?(:update, nasabah)
							= link_to '<i class="icon icon-pencil"></i>'.html_safe, edit_nasabah_path(nasabah), :class => 'btn btn-mini'
						-if can?(:destroy, nasabah)
							= link_to '<i class="icon icon-remove"></i>'.html_safe, nasabah_path(nasabah), :class => 'btn btn-mini',:method => :delete, :data => { :confirm => 'Are you sure?' }
					-if nasabah.unreviewed? and can?(:approve, nasabah)	
						.btn-group
							= link_to '<i class="icon icon-ok-sign"></i> Approve'.html_safe, approve_nasabah_path(nasabah), :class => 'btn btn-mini btn-success', :title => 'Approve', :method => :put
							= link_to '<i class="icon icon-ban-circle"></i> Disapprove'.html_safe, approve_nasabah_path(nasabah, :approve => 'no'), :class => 'btn btn-mini btn-danger btn-danger', :title => 'Approve', :method => :put
.pagination
	= will_paginate @nasabahs
	.page_info
		= page_entries_info @nasabahs

				

