%p#notice= notice

%p
  %b Nama lengkap:
  = @nasabah.nama_lengkap
%p
  %b Tempat lahir:
  = @nasabah.tempat_lahir
%p
  %b Tanggal lahir:
  = @nasabah.tanggal_lahir
%p
  %b Jenis kelamin:
  = @nasabah.jenis_kelamin
%p
  %b Kewarganegaraan:
  = @nasabah.kewarganegaraan
%p
  %b No identitas:
  = @nasabah.no_identitas
%p
  %b Type identitas:
  = @nasabah.type_identitas
%p
  %b Expire identitas:
  = @nasabah.expire_identitas
%p
  %b No npwp:
  = @nasabah.no_npwp
%p
  %b Alamat rumah:
  = @nasabah.alamat_rumah
%p
  %b Alamat surat:
  = @nasabah.alamat_surat
%p
  %b No tlp kantor:
  = @nasabah.no_tlp_kantor
%p
  %b No ponsel:
  = @nasabah.no_ponsel
%p
  %b No faximile:
  = @nasabah.no_faximile
%p
  %b Email:
  = @nasabah.email
%p
  %b Rekening koran gabungan:
  = @nasabah.rekening_koran_gabungan
%p
  %b Status pernikahan:
  = @nasabah.status_pernikahan
%p
  %b Status rumah tinggal:
  = @nasabah.status_rumah_tinggal
%p
  %b Tanggal rumah tinggal:
  = @nasabah.tanggal_rumah_tinggal
%p
  %b No tlp rumah:
  = @nasabah.no_tlp_rumah
%p
  %b Pekerjaan utama:
  = @nasabah.pekerjaan_utama
%p
  %b Pendapatan bulanan:
  = @nasabah.pendapatan_bulanan
%p
  %b Bidang usaha:
  = @nasabah.bidang_usaha
%p
  %b Sumber dana:
  = @nasabah.sumber_dana
%p
  %b Tujuan penggunaan dana:
  = @nasabah.tujuan_penggunaan_dana
%p
  %b Tujuan penggunaan rekening:
  = @nasabah.tujuan_penggunaan_rekening
%p
  %b Setoran awal:
  = @nasabah.setoran_awal
%p
  %b Nama ibu kandung:
  = @nasabah.nama_ibu_kandung
%p
  %b Agama:
  = @nasabah.agama

= link_to 'Edit', edit_nasabah_path(@nasabah)
\|
= link_to 'Back', nasabahs_path
