Administration Fee #{@filter_params[:from].to_date.strftime("%d/%m/%Y")} - #{@filter_params[:to].to_date.strftime("%-d/%m/%Y")}


Tanggal, Amount, Keterangan
-for af in @administration_fees
	="#{af.created_at.to_date}, #{af.amount}, #{af.description}"
