= form_for @transaction, :html => {autocomplete: "off"} do |f|
  - if @transaction.errors.any?
    #error_explanation.alert.alert-danger
      %p= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - @transaction.errors.full_messages.each do |msg|
          %li= msg
  .form-horizontal
    .control-group
      = f.label :nasabah_id, 'No Rekening', :class => 'control-label'
      .controls
        = f.text_field :nasabah_id
    .control-group
      = f.label :credit, :class => 'control-label'
      .controls
        = f.text_field :credit
  .form-actions
    = f.submit 'Save', :class => 'btn btn-primary'

