.component-heading
	.row-fluid
		.span8
			%h3.no-bold
				%i.icon.icon-exchange
				Transactions
		.span4
			.pull-right
				.btn-group
					= link_to 'New Transaction', new_transaction_path, :class => 'btn btn-mini'
					= link_to '<i class="icon icon-download"></i> Download Excel'.html_safe, url_for(params.merge(:format => :csv)), :class => 'btn btn-mini'
					= link_to '<i class="icon icon-print"></i> Print'.html_safe, '#', :class => 'btn btn-mini', :onclick=> "window.print()"

=render 'internal/filter'
=content_for(:bottom_js) do 
	:javascript						
		$(function() {
			$('.bt-timepick').datetimepicker({
				pickTime: false
			});
		})					

%table.table.table-condensed.table-stripped
	%thead
		%tr
			%th Nasabah
			%th Tanggal
			%th Debit
			%th Credit
			%th Description
			%th Product
			%th actions

	%tbody
		- @transactions.each do |transaction|
			%tr
				%td
					=link_to transaction.nasabah.account_number, transaction.nasabah 
				%td= transaction.created_at.strftime('%d/%m/%y %I:%M %p')
				%td= money_formater transaction.debit
				%td= money_formater transaction.credit
				%td= transaction.description
				%td= "#{transaction.product.code} v.#{transaction.product.version}"
				%td
					.btn-group
						= link_to '<i class="icon icon-eye-open"></i>'.html_safe, transaction, :class => 'btn btn-mini btn-primary', :title => 'View'
						= link_to '<i class="icon icon-pencil"></i>'.html_safe, edit_transaction_path(transaction), :class => 'btn btn-mini btn-info', :title => 'Edit'
						= link_to '<i class="icon icon-remove"></i>'.html_safe, transaction, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger', :title => 'Destroy'
.pagination
	= will_paginate @transactions
	.page_info
		= page_entries_info @transactions

