%p#notice= notice

%p
  %b Nasabah:
  = @transaction.nasabah_id
%p
  %b Debit:
  = @transaction.debit
%p
  %b Credit:
  = @transaction.credit
%p
  %b Description:
  = @transaction.description
%p
  %b Product:
  = @transaction.product_id

= link_to 'Edit', edit_transaction_path(@transaction)
\|
= link_to 'Back', transactions_path
