.component-heading
  %h3.no-bold
    %i.icon.icon-barcode
    Products

%table.table.table-condensed.table-stripped
  %tr
    %th Name
    %th First credit
    %th Month credit
    %th Description
    %th Months period
    %th Version
    %th Produk code
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.first_credit
      %td= product.month_credit
      %td= product.description
      %td= product.months_period
      %td= product.version
      %td= product.code
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
